@model Patient_Manager.Models.Medicalfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicalfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filepath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filepath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uploadedat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uploadedat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checkup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checkup.Checkupid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Fileid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
